body{
  margin: 0
}

.main {
  height: 100vh;
  background-color: yellow;
  background-image: url("../media/faithandgracecover.jpg");
  background-size: cover;
}

.tracks {
  height: 166px;
  width: 500px;
  background-color: white;
  border-radius: 5px;
  text-align: center;
  vertical-align: bottom;

}
